package page

templ Header(title string) {
	<title>{ title }</title>
	// HTMX
	<script src="https://unpkg.com/htmx.org@1.9.12"></script>
	// styles
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="icon" type="image/x-icon" href="/static/img/favicon.svg"/>
}
